<div class="row">
<div class="col-12 col-md-3">
<%= render partial: 'rooms' %>
</div>

<div class="col">
<div class="alert alert-primary">
<h4 class="alert-heading">
Welcome chat with us if u want us to add the products 
</h4>
<p>
We need To Talk 
</p>

<hr />

<p>
You can create or join a room from the sidebar.
</p>
</div>
</div>
</div>